<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>CLAIM MANAGEMENT</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<style>
	.bg {
		background-image: url(https://i.pinimg.com/originals/d2/73/1d/d2731d380468aed0130a3a39b8de58dc.png);
		background-repeat: no-repeat;
		background-size:cover;
	}
</style>

<body class="bg">

	<div class="nav-item">
		<a class="nav-link active" aria-current="page" th:href="@{/memberHome}"><span class="material-icons md-18"
				id="icons" style="margin-left:600px;margin-top:25px; size:large">home</span></a>
	</div>
	<div class="container" style="margin-left:35%;">
		<form action="/viewStatus" method="GET">
			<input type="text" id="claimId" name="claimId" placeholder="Claim ID" class="form-control mb-4 col-4"
				required />
			<input type="text" id="memberId" name="policyId" placeholder="Policy ID" class="form-control mb-4 col-4"
				required />
			<input type="text" id="policyId" name="memberId" placeholder="Member ID" class="form-control mb-4 col-4"
				required />
			<button type="submit" style="margin-left:12%" class="btn btn-success col-1">Submit</button>
		</form>
	</div>
	<div>
	</div>

</body>

</html>